*,
::after,
::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container-nav__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
html,
body {
  height: 90%;
  background-image: url(https://pm1.narvii.com/6516/201cbb24c938f0c1c355332a0937bf9096f99b7e_hq.jpg);
  background-size: cover;
  font-family: "Press Start 2P", cursive;
}

@media screen and (min-width: 700px) {
  html,
  body {
    margin: 0 auto;
    padding: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    background-image: url(https://cdn.lowgif.com/full/ed0655d3b23493f4-pokemon-omega-alpha-charging-up-on-make-a-gif.gif);
    background-size: cover;
  }
}

.container-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-bottom: 28px solid black;
  background-color: #fc1010;
  height: 156px;
}

.container-nav__logo__img {
  -webkit-filter: drop-shadow(2px 4px 6px white);
          filter: drop-shadow(2px 4px 6px white);
  width: 120px;
  border-radius: 30px;
}

@media screen and (min-width: 700px) {
  .container-nav__logo__img {
    width: 250px;
  }
}

@media screen and (min-width: 700px) {
  .container-nav__btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.container-nav__btns__btn {
  font-family: "Press Start 2P";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px;
  color: aquamarine;
  background-color: black;
}

@media screen and (min-width: 700px) {
  .container-nav__btns__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    color: aquamarine;
    background-color: black;
    padding: 10px;
    -webkit-filter: drop-shadow(2px 4px 6px black);
            filter: drop-shadow(2px 4px 6px black);
  }
}

.container__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container__btns__display {
  text-align: center;
  margin-top: 88px;
  margin-bottom: 20px;
  /* &__btn-list:hover{
        -webkit-transform: rotateY(180deg);
        -webkit-transform-style: preserve-3d;
        transform: rotateY(180deg);
        transform-style: preserve-3d;
    } */
}

.container__btns__display__flex__anchor-back {
  width: 70px;
  -webkit-filter: drop-shadow(2px 4px 6px black);
          filter: drop-shadow(2px 4px 6px black);
  margin-top: 33px;
  margin-left: 20px;
}

.container__btns__display__flex__anchor-back:hover {
  -webkit-transform: rotateY(180deg);
  -webkit-transform-style: preserve-3d;
  transform: rotateY(180deg);
  transform-style: preserve-3d;
}

.container__btns__display__btn-list {
  -webkit-filter: drop-shadow(2px 4px 6px black);
          filter: drop-shadow(2px 4px 6px black);
  background-color: black;
  color: yellow;
  font-size: small;
  height: 65px;
  font-family: "Press Start 2P", cursive;
  margin-bottom: 20px;
}

.section-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 700px) {
  .section-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 700px) {
  .section-list__pokeUl {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: center;
    padding: 32px;
  }
}

.section-list__pokeUl__li {
  overflow: hidden;
  list-style: none;
  border: 1px solid;
  text-align: center;
  border-radius: 70px;
  padding: 15px;
  background-color: antiquewhite;
  opacity: 0.5;
}

@media screen and (min-width: 700px) {
  .section-list__pokeUl__li {
    margin: 25px;
    border-radius: 111px;
    border: 1px solid black;
    padding: 30px;
  }
}

.section-list__pokeUl__li__item {
  background-color: red;
  border-radius: 67px;
}

.section-list__pokeUl__li__item1 {
  background-color: black;
  color: white;
  border-radius: 67px;
  padding: 23px;
}

.section-list__pokeUl__li:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

.section__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container-form {
  text-align: center;
  margin-top: 84px;
}

.container-form__input {
  -webkit-filter: drop-shadow(2px 4px 6px black);
          filter: drop-shadow(2px 4px 6px black);
  height: 38px;
  width: 206px;
  font-family: "Press Start 2P", cursive;
}

@media screen and (min-width: 700px) {
  .container-form__input {
    height: 38px;
    width: 336px;
  }
}

.container-form__btn {
  -webkit-filter: drop-shadow(2px 4px 6px black);
          filter: drop-shadow(2px 4px 6px black);
  background-color: black;
  color: aliceblue;
  font-size: medium;
  font-weight: bolder;
  border-radius: 100%;
  height: 100px;
  border: 1px;
  width: 100px;
  font-family: "Press Start 2P", cursive;
}

.section-comparator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 35px;
  /*  @include desktop {
        display: flex;
        justify-content: center;

        margin: 35px;
    } */
}

.section-comparator__container__form__input {
  font-family: "Press Start 2P", cursive;
  padding: 20px;
  border-style: dashed;
  border-radius: 26px;
  -webkit-filter: opacity(0.5);
          filter: opacity(0.5);
}

@media screen and (min-width: 700px) {
  .section-comparator__container__form__input {
    padding: 30px;
  }
}

.section-comparator__container__form__input__btn {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  cursor: pointer;
}

.btn1 {
  background-color: white;
  color: black;
  border: 2px solid #f44336;
  margin: 20px;
  width: 82px;
  height: 78px;
  border-radius: 58px;
  font-family: "Press Start 2P", cursive;
}

.btn1:hover {
  background-color: #f44336;
  color: white;
}

.vs-form {
  text-align: center;
}

.section-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-contact__container__anchor {
  text-decoration: none;
}

.section-contact__container__anchor:hover {
  color: red;
}

.hidden {
  display: none;
}

.section-about {
  opacity: 0.5;
}

.section-about__title {
  color: white;
}

.section-about__text {
  color: white;
}

.section-about__text__list {
  color: white;
}
/*# sourceMappingURL=styles.css.map */