*,
::after,
::before {
    box-sizing: border-box;
}

//VARIABLES
$desktop-layout: 700px;

//HERENCIA
%flex-row-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

%flex-row-center-space-btw {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

%flex-column-flex-end {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

%flex-column {
    display: flex;
    flex-direction: column;
}

%flex-row-flex-bas-center {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

//RESPONSIVE
@mixin desktop {
    @media screen and (min-width: $desktop-layout) {
        @content;
    }
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

//STYLES
html,
body {
    height: 90%;
    background-image: url(https://pm1.narvii.com/6516/201cbb24c938f0c1c355332a0937bf9096f99b7e_hq.jpg);
    background-size: cover;
    font-family: "Press Start 2P", cursive;

    @include desktop {
        margin: 0 auto;
        padding: 0;
        height: 100%;
        width: 100%;
        text-align: center;
        background-image: url(https://cdn.lowgif.com/full/ed0655d3b23493f4-pokemon-omega-alpha-charging-up-on-make-a-gif.gif);
        background-size: cover;

    }
}

.container-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    border-bottom: 28px solid black;
    background-color: rgb(252, 16, 16);
    height: 156px;

    &__logo {
        &__img {
            filter: drop-shadow(2px 4px 6px white);
            width: 120px;
            border-radius: 30px;

            @include desktop {
                width: 250px;
            }
        }
    }

    &__btns {
        @extend %flex-column-flex-end;

        @include desktop {

            display: flex;
            flex-direction: row;
            justify-content: center;
        }

        &__btn {
            font-family: "Press Start 2P";
            display: flex;
            flex-direction: column;
            margin: 10px;
            color: aquamarine;
            background-color: black;


            @include desktop {
                display: flex;
                flex-direction: row;
                color: aquamarine;
                background-color: black;
                padding: 10px;
                filter: drop-shadow(2px 4px 6px black);
            }
        }
    }
}





.container__btn {
    display: flex;
}

.container__btns__display {
    text-align: center;
    margin-top: 88px;


    margin-bottom: 20px;



    &__flex {
        &__anchor-back {
            width: 70px;
            filter: drop-shadow(2px 4px 6px black);
            margin-top: 33px;
            margin-left: 20px;
        }

        &__anchor-back:hover {
            -webkit-transform: rotateY(180deg);
            -webkit-transform-style: preserve-3d;
            transform: rotateY(180deg);
            transform-style: preserve-3d;
        }

    }

    &__btn-list {
        filter: drop-shadow(2px 4px 6px black);
        background-color: black;
        color: yellow;
        font-size: small;
        height: 65px;
        font-family: "Press Start 2P", cursive;
        margin-bottom: 20px;
    }

    /* &__btn-list:hover{
        -webkit-transform: rotateY(180deg);
        -webkit-transform-style: preserve-3d;
        transform: rotateY(180deg);
        transform-style: preserve-3d;
    } */
}

.section-list {
    display: flex;
    justify-content: center;

    @include desktop {
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }

    &__pokeUl {

        @include desktop {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-between;

            text-align: center;
            padding: 32px;
        }

        &__li {
            overflow: hidden;
            list-style: none;
            border: 1px solid;
            text-align: center;
            border-radius: 70px;
            padding: 15px;
            background-color: antiquewhite;
            opacity: 0.5;

            @include desktop {
                margin: 25px;

                border-radius: 111px;
                border: 1px solid black;
                padding: 30px;
            }

            &__item {
                background-color: red;
                border-radius: 67px;

            }

            &__item1 {
                background-color: black;
                color: white;
                border-radius: 67px;
                padding: 23px;
            }
        }

        &__li:hover {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }
}

.section__search {
    display: flex;
    justify-content: center;
}

.container-form {
    text-align: center;
    margin-top: 84px;

    &__input {
        filter: drop-shadow(2px 4px 6px black);
        height: 38px;
        width: 206px;
        font-family: "Press Start 2P", cursive;

        @include desktop {
            height: 38px;
            width: 336px;
        }
    }

    &__btn {
        filter: drop-shadow(2px 4px 6px black);
        background-color: black;
        color: aliceblue;
        font-size: medium;
        font-weight: bolder;
        border-radius: 100%;
        height: 100px;
        border: 1px;
        width: 100px;
        font-family: "Press Start 2P", cursive;
    }
}

.section-comparator {
    display: flex;
    justify-content: center;

    margin: 35px;

    /*  @include desktop {
        display: flex;
        justify-content: center;

        margin: 35px;
    } */

    &__container {

        &__form {

            &__input {
                font-family: "Press Start 2P", cursive;
                padding: 20px;
                border-style: dashed;
                border-radius: 26px;
                filter: opacity(0.5);

                @include desktop {
                    padding: 30px;
                }

                &__btn {

                    border: none;
                    color: white;
                    padding: 16px 32px;
                    text-align: center;
                    text-decoration: none;
                    display: inline-block;
                    font-size: 16px;
                    margin: 4px 2px;
                    transition-duration: 0.4s;
                    cursor: pointer;


                }
            }
        }
    }
}

.btn1 {
    background-color: white;
    color: black;
    border: 2px solid #f44336;
    margin: 20px;
    width: 82px;
    height: 78px;
    border-radius: 58px;
    font-family: "Press Start 2P", cursive;
}

.btn1:hover {
    background-color: #f44336;
    color: white;
}

.vs-form {
    text-align: center;
}

.section-about {
    display: flex;
    flex-direction: column;

}

.section-contact {
    display: flex;
    flex-direction: column;

    &__container {
        &__anchor {
            text-decoration: none;
        }

        &__anchor:hover {
            color: red;
        }
    }
}

//helpers
.hidden {
    display: none;
}

.section-about {
    opacity: 0.5;
    background-color: rgba(0,0,0,0.9);

    &__title {
        color: white;
    }

    &__text {
        color: white;

        &__list {

            color: white;
        }
    }
}